<!DOCTYPE html
PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        <title>Test Jst Parser</title>
        <script type="text/javascript" src="jst.js"></script>
        <script type="text/javascript">
function render(name) {
    var template = document.getElementById("template").value;
    document.getElementById("rendered").innerHTML =
        Jst.evaluateSingleShot(template, {"name":name});
}
        </script>
    </head>
    <body>
        <h1>Test Jst Parser</h1>
        <h2>Example template</h2>
            <textarea id="template" rows="12" cols="80">
Gold &amp; Hot Rod Red, as seen in the new <a href="http://blog.markturansky.com/archives/51">Iron Man trailer</a>!
<table cellspacing="0" cellpadding="4">
    <% for(var i = 0; i < 10; i++){ %>
        <tr>
        <td style="background-color: <%= i % 2 == 0 ? 'red' : 'gold' %>">
            Hi, <%=name%>! i is <%= i %>
        </td>
        </tr>
    <% } %>
</table>
Note that name is HTML escaped by default. Here it is without escaping:
<%+ name %>
</textarea>
        <h2>Test Drive It</h2>
        <p>Edit the template above, then hit the render button.</p>
        <form name="theform" action="" onsubmit="return false;">
            Enter your name: <input type="text" id="name" />
            <input type="button" value="render" onclick="render(document.theform.name.value);"/>
        </form>
        <div id="rendered" style="border: 1px solid black;">The HTML will be rendered in this DIV</div>
    </body>
</html>
